/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --blue-light :#DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container{
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}
/****link hover***/
a:hover{
    color: var(--main-color) ;

}

/********************header********************/


.logo{
    height: 19px;
    padding: 30px 0px;
}
header{
    display: flex;
    flex-direction: row;
    gap: 950px;
}

/******nav******/
.logo-nav{
    display: flex;
    height: 36px;
}
.logo-nav a{
    font-size: 16px;
    padding-top: 15px; 
    margin-right: 68px; 
}
.logo-nav a:hover{
    border-top: 2px solid var(--main-color);
}
/*******************************headline-seach-filter-info***********************/
.headline-search-filter{
    margin-top: 30px;
}
/********headline*************/
.Headline{
    /*! margin-top: 30px; */
    
}
.Headline h1{
    margin: 0;
    font-size: 22px;
}
.Headline p {
    margin-top: 8px;
    
    
}

/********Search-bar*************/
.form-search , .list-filters , .info-bar , .hebergements-and-populaires   {
    margin-top: 35px;
}

.form-search{
    height: 49px;
    display: flex;
    width: 377px;
 
}
.icon-search-input{
    display: flex;
    width:277px;
}
.search-input{
    border: 1px solid var(--main-bg-color);
    padding-right: 24px;
    padding-left: 24px;
    min-width: 149px;
    max-width: 227px;
}
.search-input::placeholder{
    color: black;
    opacity: 100%;
    font-weight: bold;
    font-size: 18px;
}
.icon-search{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    background-color: var(--main-bg-color);
    
}
.icon-search .fa-solid{
    color: black;
    font-size: 18px;
}


.search-button-desktop {
    height: 100%;
    width: auto;
    padding: 15px 16px;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    border-radius: 0 15px 15px 0 ;
    padding: 15px 16px ;
    border: none;
    font-size: 18px;
    
    

}
.search-button {
    display: flex;
}
.search-button-mobile {
    height: 100%;
    width: 50px;
    background-color: var(--main-color);
    border-radius: 15px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: none;
    
}
.search-button-mobile .fa-solid{
    color: white;
    font-size: 17px;
}




/***********list-filter*************/
h2 {
    margin: 0;
    font-size: 18px;
}
.list-filters {
    display: flex;
    align-items: center;
    gap:15px;
    
}
.filter {
    padding: 4px 19px;
    border: 2px solid var(--main-bg-color);
    border-radius: 25px 25px 25px 25px ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    transition: background-color 0.3s;

}
.filter:hover{
    background-color: var(--blue-light);
}


.filter i{
font-size: 22px;
}
.filter h3 {
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
}

/**************info-bar********************/
.info-bar {
    display:  flex;
    align-items: center;
    gap:10px;
}
.info-bar i{
    width: 24px;
    height: 24px;
    border: 1px solid var(--main-bg-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-bar p {
    margin: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
}
.h-cards-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.h-cards {
    
    width: 100%;
    height: 192px;
    
    
}


.h-cards img {
    width: 100%;
    height: 100px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.h-card-content h3 {
    margin: 0px;
    padding-top: 8px;
    font-size: 16px;
}
.h-card-content p {
    margin: 0px;
    font-size: 14px;
    padding-top:8px;
}
.h-card-content .card-rating{
    font-size: 13px;
    padding-top:8px;

    
}
.h-card-content{
    padding: 0 15px;
}











/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********************************activites*************************/

.activites {
    margin-top: 35px;
}
.activites h2 {
    padding-top:30px;
    padding-left: 30px;
    
}

.card-activites {
    display: flex;
    gap:30px;
    padding:30px;
    
}

.card-activites img{
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;

}
.card-activites .acivite-txt{
    width: 100%;
}
.acivite-txt {
    background: white;
    border-radius:20px;


    box-shadow: 0 0 16px #0000002e;
    
}


.acivite-txt h3 {
    padding: 20px 19px;
    margin:0;
    font-size:16px;
}





/******************************footer*************************/
footer{
    background-color: var(--main-bg-color);
    margin-top: 35px;

}
.footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    /*! gap: 20px; */ /* Espace de 20px entre les colonnes */
    padding: 20px;
}

.footer-nav {
    width: 100%; /* Prend toute la largeur de la colonne */
}
.footer-nav h2{
    font-size: 18px;
}
.footer-nav ul {
    list-style-type: none; /* Supprime les points ou cercles à côté des éléments li */
  
}
.footer-nav li {
    margin-top: 15px;
}











/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container{
        padding: 0;  
    }   
/***************header********/
header{
    flex-direction: column;
    gap: 0px;
    
}
.logo-container {
    display: flex;
    justify-content: center;
}
.logo{
     padding:  30px;
}
.logo-nav a{
    width: 100%;
    text-align: center;
    margin: 0px ; 
    padding-top: 0px;
    padding-bottom: 15px;   
}
.logo-nav a:hover{
    border-top: none;
    border-bottom: 2px solid var(--main-color);
}

.headline-search-filter {
  margin: 0 20px;
}
/*********headline*********/
 .Headline {
    padding-top: 30px;
}
.Headline p{
        padding-top: 8px;
        margin: 0px;
}
/*********search bar *******************/
    .search-button-desktop{
        display: none;
    }
    .search-button-mobile {
        display: block;
    }
    
/*********filter*****/  
    .list-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
    grid-gap: 20px; /* Espacement de 20px entre les éléments */
}

.filter-title {
    grid-column: span 2; /* Fait en sorte que le titre occupe les deux colonnes */
}
    .filter h3{
        font-size: 14px;
    }

 
/********hebergement populaire activie section**********/
    .hebergements-and-populaires{
        flex-direction: column;
        gap: 15px;
    }
    .hebergements {
        order: 2;
        width: 100%; 
      
    }
/************heberegemnt card*********/
    .hebergements-and-populaires .hebergements{
        background-color: #FFFFFF;
    }
    .hebergements h2{
        font-size: 22px;
    }
    .card{
        height: 100%;
        width: 336px;
    }
    .h-cards-container{
        display: flex;
        flex-wrap: wrap;
    }
    .h-cards{
        display: flex;
    }
    
.h-more {
  margin: 0;
  font-size: 18px;
    margin-bottom: 20px;
}
/*************popuopulaires card**************/
    .hebergements-and-populaires section{
        border-radius: 0px;
    }
.populaires {
  margin: 0;
 

}
    .populaires-cards{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        gap: 15px;
    }
    .populaires-cards a{
        display: flex;
        width: 100%;
    }
    .populaires-cards .card{
        display: flex;
        flex-wrap: wrap;
        margin:0;
        height: 138px;
      
    }
/***************activite card ****************/
    .activites h2{
        padding: 0px;
        margin-bottom: 30px;
    }
    .activites{
        padding: 30px;
    }
    .card-activites{
        display: flex;
        flex-wrap: wrap;
        gap: 15px;

        padding: 0px;
    }
    
    .acivite-txt img{
        height: 141px;
       
    }
    .acivite-txt{
        background-color: white;
      
        width: 100%;
    }
/********hebergement et populaire ***********/
    .hebergements-and-populaires{
        
        display: flex;
        flex-direction: culumn-reverse;
    }
    
/***************footer***************/ 
    .footer-nav ul{
     padding: 0;  
    }
   
    .footer-content{
        display: flex;
        flex-wrap: wrap;
       padding: 30px;
    }
}
/********************tabelette 924***************/
@media (max-width: 1024px) {
    /*header{
        gap:518px;
    }
    .card-activites img{
        height: 200px;
    }
    .logo-nav a{
        margin: 0;
    }*/















}